// -------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Jua|Noto+Sans+KR:400,700|Oswald');
$big-font: 'Jua', sans-serif;
$main-font: 'Noto Sans KR', sans-serif;
$eng-big-font: 'Jua', sans-serif;
// -------------------------------------------------------

//  variables

$point-color: #f78886;
$bg-color: #4d6e9b;

$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

// regular color adjustment
$red: #f75467;
$blue: #4386f9;
$green: #03c03c;
$lightblue: rgb(75, 164, 194);
$orange: #f6ac5b;

// colors for indicators
$femi-color: #583b8b;
$popularity-color: #4386f9;
$anti-color: #f75467;
$problem-color: #f6ac5b;

// -------------------------------------------------------

//Viewports

@mixin large {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin medium {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin medium-small {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin small {
  @media (max-width: 420px) {
    @content;
  }
}

// -------------------------------------------------------

// Resets
body,
* {
  color: black;
  font-size: 10px;
  padding: 0;
  margin: 0;
  font-family: $main-font;

  text-decoration: none;
  box-sizing: border-box;

  @include large {
    font-size: 9px;
  }

  @include medium {
    font-size: 7px;
  }

  @include small {
    font-size: 6px;
  }
}
body {
  background: #f5f5f5;
}

body,
html {
  height: 100%;
}
ul {
  list-style: none;
}

// -------------------------------------------------------

// global setting

.section-global {
  padding: 2rem 3rem;
  width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;

  @include large {
    max-width: 1000px;
    width: 100%;
  }

  @include medium {
    max-width: 800px;
    width: 100%;
  }

  @include medium-small {
    max-width: 600px;
    width: 100%;
  }

  @include small {
    max-width: 420px;
    width: 100%;
    padding: 1rem 2.3rem;
  }
}

// -------------------------------------------------------
// mixins

@mixin upper-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 5rem;
  margin-bottom: 1.5rem;
}

@mixin user-area {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  i {
    font-size: 2rem;
    margin-right: 1rem;
    color: $point-color;
  }
  .user-admin {
    margin-left: 1rem;
    background: $point-color;
    padding: 0.3rem 1rem;
    color: white;
    border-radius: 10px;
  }
}

@mixin date-and-ip-area {
  display: flex;
  flex-direction: column;

  .post-date {
    font-size: 1.4rem;

    text-align: right;
  }
  .user-ip {
    font-size: 1.2rem;
    color: gray;
    text-align: right;
  }
}

@mixin lower-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

@mixin input-form {
  display: flex;
  flex-direction: column;
  padding: 2rem 0rem;

  .user-and-password {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;

    input {
      padding: 1rem 0rem;
      font-size: 1.8rem;
      width: 30rem;
      margin-right: 4rem;
    }

    @include medium-small {
      flex-direction: column;
      margin-bottom: 2rem;
    }
  }

  .text-input-area {
    textarea {
      width: 100%;
      padding: 1rem 0rem;
      font-size: 2rem;
      cursor: text;

      resize: none;
    }
  }

  .submit-btn-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 8rem;
    align-items: center;

    @include medium-small {
      flex-direction: column;
      min-height: 15rem;
    }
    .error-code-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      .error-code {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
      }
    }

    .submit-btn {
      width: 30%;
      background: white;
      color: black;
      padding: 3rem;
      height: 3rem;
      border: none;
      border-radius: 30px;
      border: 2px solid $point-color;
      font-size: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 0.3s ease-in;

      &:hover {
        background: $point-color;
        color: white;
      }
    }
  }
}
//--------------------------------------------------------
// Common Components

#bg {
  background-color: $bg-color;
  clip-path: polygon(0 0, 100% 0, 100% 42%, 0 62%);

  background-size: cover;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

hr.section-seperator {
  width: 70%;
  // width: 1200px;
  margin: 0 auto;

  color: lightgrey;
}

input[type='text'],
input[type='password'],
textarea {
  // font-size: 1.5rem;
  // @include medium {
  //   font-size: 2.3rem;
  // }
  border: none;
  border-bottom: 1.5px solid lighten($point-color, 20%);
  transition: 0.4s ease-in;

  &:focus {
    border-bottom: 1.5px solid $point-color;
  }
}

.section-title-container {
  text-align: center;
  .section-title {
    font-size: 5rem;

    font-family: $eng-big-font;
    display: inline-block;
    &::before {
      content: '';
      display: inline-block;
      width: 0.5rem;
      height: 4.1rem;
      transform: translate(-25%, 1%);
      background-color: $point-color;
    }
  }
}

.small-title {
  // font-family: $big-font;
  margin: 1.5rem;
  font-size: 5rem;

  @include large {
    font-size: 4rem;
  }

  @include medium() {
    font-size: 3rem;
  }
  &::after {
    content: '';
    display: block;
    height: 0.3rem;
    background: lighten($point-color, 10%);
    width: 100%;
  }

  .question-icon i {
    font-size: 2rem;
    color: grey;
    margin: 5px;
    cursor: pointer;

    @include large {
      font-size: 1rem;
    }
  }
}

.community-select-button {
  font-size: 2.5rem;

  @include medium-small {
    font-size: 2rem;
  }
  cursor: pointer;
  font-weight: bold;

  &::before {
    content: '';
    display: inline-block;
    width: 0.3rem;
    height: 2.2rem;
    transform: translate(-30%, 7%);

    background-color: lighten($point-color, 20%);
  }

  &:hover {
    &::before {
      background-color: $point-color;
      transition: 0.3s ease-in-out;
    }
  }
}

.indicator-select-button {
  font-size: 1.8rem;
  cursor: pointer;
  // font-weight: bold;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 0.3rem;

    background-color: lighten($point-color, 30%);
  }

  &:hover {
    &::after {
      background-color: $point-color;
      transition: 0.3s ease-in-out;
    }
  }
}

.active-btn {
  &::before {
    background-color: $point-color;
  }
  &::after {
    background-color: $point-color;
  }
}

@mixin btn-common($color) {
  border-radius: 30px;
  padding: 1.3rem 2rem;

  cursor: pointer;

  // width: 400px;
  // display: flex;
  background: white;

  &:hover {
    background: darken($color, 8%);
  }
}

.menu-btn {
  // border: 1px solid black;
  @include btn-common(white);
  transition: 0.5s ease-in;
  box-shadow: $box-shadow;
}

.indicator-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  .indicator-btn {
    @include btn-common(white);

    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    transition: 0.5s ease-in;
    box-shadow: $box-shadow;
    .initial-display-wrapper {
      .indicator-mark {
        font-size: 2rem;
        font-weight: bold;
        color: $point-color;
        margin: 0 0.7rem;
      }
      .active-element {
        font-size: 2rem;
      }
    }
  }
  .except {
    position: fixed;
    top: 90%;
    left: 10%;
    z-index: 2;
    padding: 2rem 2rem;
    border-radius: 50%;
  }

  .selector-container {
    margin: 0 1.3rem;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in;
    background: white;

    &:hover {
      background: darken(white, 15%);
    }
  }

  .normal {
    border-radius: 30px;
    padding: 1rem 1.5rem;

    @include small {
      padding: 1rem 1.3rem;
    }

    .normal-element {
      font-size: 1.8rem;

      .check-mark {
        font-size: 2rem;

        color: $point-color;
        margin: 0 0.7rem;
      }

      @include small {
        font-size: 1.8rem;
      }
    }
  }
  .circle {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
  }

  .circle-element {
    font-size: 2rem;
  }
}

.hover-description {
  background: lighten(pink, 8%);
  transition: 0.2s ease-in-out;
  opacity: 0;
  border-radius: 30px;
  padding: 1rem 1.7rem;
  font-size: 1.2rem;
}

.slide-notification {
  font-size: 6rem;
  color: darken(lightgrey, 15%);
  position: fixed;
  right: 10%;
  top: 50vh;
  z-index: 3;
}

.meter-bar-container {
  .original-bar {
    fill: rgb(235, 235, 235);
  }

  .value-bar {
    transition: 1s all ease-in-out;
  }
}

//----------------------------------------------------------------------------------------
// animations

.selection-fade-in {
  animation: selection-fade-in 0.3s ease-in forwards;
}

@keyframes selection-fade-in {
  0% {
    opacity: 0;
    transform: translateX(-70%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.menu-fade-in {
  animation: menu-fade-in 0.3s ease-in forwards;
}

@keyframes menu-fade-in {
  0% {
    opacity: 0;
    transform: translateX(40%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slide-notification-fade-in {
  0% {
    opacity: 0;
    transform: translateX(120%);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(0%);
  }
}

.opacity-fade-in {
  animation: opacity-fade-in 0.3s ease-in forwards;
}

@keyframes opacity-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.opacity-fade-out {
  animation: opacity-fade-out 0.3s ease-in forwards;
}

@keyframes opacity-fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.btn-fade-out {
  animation: btn-fade-out 0.3s ease-in alternate-reverse;
}

@keyframes btn-fade-out {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }

  100% {
    opacity: 0;
    transform: translateX(80%);
  }
}

.error-animation {
  animation: error-animation 0.1s alternate;
  animation-iteration-count: 6;
}

@keyframes error-animation {
  0% {
    opacity: 1;
    transform: translateX(-3%);
  }

  100% {
    opacity: 1;
    transform: translateX(3%);
  }
}

@keyframes refresh-rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// -------------------------------------------------------

// Status-Colors
.popularity-status-1 {
  color: darken($popularity-color, 10%);
  fill: darken($popularity-color, 10%);
}
.popularity-status-2 {
  color: darken($popularity-color, 10%);
  fill: darken($popularity-color, 10%);
}
.popularity-status-3 {
  color: $popularity-color;
  fill: $popularity-color;
}
.popularity-status-4 {
  color: lighten($popularity-color, 10%);
  fill: lighten($popularity-color, 10%);
}
.popularity-status-5 {
  color: lighten($popularity-color, 10%);
  fill: lighten($popularity-color, 10%);
}

.anti-status-1 {
  color: darken($anti-color, 10%);
  fill: darken($anti-color, 10%);
}
.anti-status-2 {
  color: darken($anti-color, 10%);
  fill: darken($anti-color, 10%);
}
.anti-status-3 {
  color: $anti-color;
  fill: $anti-color;
}
.anti-status-4 {
  color: lighten($anti-color, 10%);
  fill: lighten($anti-color, 10%);
}
.anti-status-5 {
  color: lighten($anti-color, 10%);
  fill: lighten($anti-color, 10%);
}

.problem-status-1 {
  color: darken($problem-color, 10%);
  fill: darken($problem-color, 10%);
}
.problem-status-2 {
  color: darken($problem-color, 10%);
  fill: darken($problem-color, 10%);
}
.problem-status-3 {
  color: $problem-color;
  fill: $problem-color;
}
.problem-status-4 {
  color: lighten($problem-color, 10%);
  fill: lighten($problem-color, 10%);
}
.problem-status-5 {
  color: lighten($problem-color, 10%);
  fill: lighten($problem-color, 10%);
}

.femi-status-1 {
  color: darken($femi-color, 10%);
  fill: darken($femi-color, 10%);
}
.femi-status-2 {
  color: darken($femi-color, 10%);
  fill: darken($femi-color, 10%);
}
.femi-status-3 {
  color: $femi-color;
  fill: $femi-color;
}
.femi-status-4 {
  color: lighten($femi-color, 10%);
  fill: lighten($femi-color, 10%);
}
.femi-status-5 {
  color: lighten($femi-color, 10%);
  fill: lighten($femi-color, 10%);
}

.status-number {
  color: gray;
}

// -------------------------------------------------------

// sections

.site-title {
  font-size: 10rem;
  font-family: $big-font;
  text-align: center;
  color: white;
}

.main-nav-wrapper {
  .main-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @include medium-small {
      padding-top: 3rem;
      padding-bottom: 5rem;
    }
  }

  width: 100%;
  a {
    // color: white;
    text-decoration: none;
  }

  .nav-title {
    font-family: $big-font;
    color: white;
    font-size: 3.5rem;
  }

  .menu-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include medium-small {
      flex-direction: column;
      align-content: center;
    }
    .nav-menu-container {
      font-size: 1.6rem;
      // position: absolute;
      // right: 1px;
      color: white;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      min-height: 7rem;

      @include large {
        position: absolute;
        flex-direction: column;
        z-index: 3;
        top: 7rem;
        right: 1.1rem;
      }
      .menu-btn {
        font-size: 1.6rem;
        margin: 0 1rem;
        font-weight: bold;
        min-width: 10rem;
        text-align: center;

        @include large {
          margin-bottom: 1rem;
          margin-top: 1rem;
        }
      }
    }

    .menu-toggler-container {
      .menu-toggler {
        color: white;
        cursor: pointer;
        margin-left: 2rem;
        margin-right: 0;
      }
    }
  }
}

.hero-wrapper {
  .hero-container {
    text-align: center;
    color: white;
    box-sizing: border-box;

    .title {
      font-family: $big-font;
      font-size: 10rem;
      @include small {
        font-size: 8rem;
      }
    }

    .description {
      font-size: 2rem;
    }

    .small-description i {
      font-size: 1.6rem;
    }

    sup {
      font-size: 1.6rem;
    }
  }

  background: url('img/mainimage.jpg') no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 40rem;
}

.indicator-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .indicator-card {
      box-shadow: $box-shadow;
      background: white;
      border-radius: 15px;
      width: 100%;
      cursor: pointer;
      transition: 0.3s ease-in;

      &:hover {
        background: darken(white, 10%);
      }

      // display: flex;
      // justify-content: space-between;
      // padding: 3rem 3rem;
      // margin: 2rem;
      // align-items: center;

      // text-align: center;
      margin: 2rem;
      padding: 3rem 3rem;
      .indicator-content-container {
        display: flex;
        justify-content: space-between;

        align-items: center;

        text-align: center;
        .indicator-title-container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          .emotion {
            font-size: 4.5rem;
          }

          div {
            text-align: left;
            .indicator-title {
              font-size: 3rem;
              text-align: left;
              font-weight: bold;

              @include medium-small {
                font-size: 2.4rem;
              }
            }

            .active-community {
              color: darken(lightgray, 20%);
              font-size: 1.7rem;
            }
          }
        }

        .fa-font {
          color: $point-color;
        }
        .indicator-content {
          font-family: $big-font;

          .value {
            font-size: 5rem;
            font-weight: bold;

            @include medium-small {
              font-size: 4.4rem;
            }
          }

          .metric {
            font-size: 1.7rem;
          }

          .status {
            font-size: 2rem;
            text-align: right;
          }
        }
      }
    }

    .word-card {
      word-break: keep-all;
      box-shadow: $box-shadow;
      background: white;
      border-radius: 15px;
      width: 100%;
      cursor: pointer;
      transition: 0.3s ease-in;

      &:hover {
        background: darken(white, 10%);
      }

      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding: 3rem 3rem;
      margin: 2rem;
      align-items: center;

      text-align: center;
      height: 20rem;
      @include large {
        display: flex;
        justify-content: space-between;
        padding: 3rem 3rem;
        margin: 2rem;
        align-items: center;
      }

      .indicator-title-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .emotion {
          font-size: 4.5rem;
          margin-right: 1.5rem;

          @include large {
            margin-right: 2rem;
          }
        }

        .emotion-large {
          font-size: 4.5rem;
          margin-right: 1rem;

          @include large {
            margin-right: 1.2rem;
          }
        }

        div {
          text-align: left;
          .indicator-title {
            font-size: 3rem;
            text-align: left;
            font-weight: bold;

            @include medium-small {
              font-size: 2.4rem;
            }
          }

          .active-community {
            color: darken(lightgray, 20%);
            font-size: 1.7rem;
          }
        }
      }

      .fa-font {
        color: $point-color;
      }
      .indicator-content {
        font-family: $big-font;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 80%;

        @include large {
          width: 70%;
        }
        @include medium-small {
          width: 60%;
        }

        .keyword-container {
          .value {
            font-size: 3.8rem;
            font-weight: bold;

            @include medium-small {
              font-size: 3rem;
            }
          }

          .metric {
            font-size: 1.7rem;
          }

          .status {
            font-size: 2rem;
            text-align: right;
          }
        }
      }
    }
  }
}

.ranking-table-container {
  display: flex;
  min-height: 300px;
  height: 100%;
  overflow-x: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;

  border-radius: 15px;
  position: relative;

  &:hover {
    .small-title::after {
      background: darken($color: $point-color, $amount: 30%);

      transition: 0.3s ease-in;
    }
  }
}

.keywords-table {
  word-break: keep-all;
  width: 90rem;
  @include medium-small {
    width: 80rem;
  }
  border-collapse: collapse;
  border-collapse: separate;
  border-spacing: 0px 0.7rem;
  margin: 0 auto;
  position: sticky;
  thead {
    tr {
      box-shadow: $box-shadow;
      background: $point-color;

      th {
        // border-bottom: 0.3px grey solid;
        color: white;
        height: 7rem;
        padding: 1rem 1rem;
        font-size: 1.7rem;
        margin-bottom: 100px;
      }

      .meter-header {
        width: 10%;
      }
    }
  }

  tbody {
    tr {
      box-shadow: $box-shadow;

      background: white;
      transition: background-color 0.2s ease-in;
      &:hover {
        background: rgb(235, 235, 235);
      }

      td {
        font-size: 1.5rem;
        height: 8rem;
        padding: 0.3rem;

        @include medium {
          font-size: 1.5rem;
        }
        .word-link {
          font-size: 1.4rem;
          border: 2px solid $blue;
          padding: 1rem 1.8rem;
          border-radius: 30px;
          cursor: pointer;
          transition: 0.3s ease-in-out;

          &:hover {
            background: $blue;
            color: white;
          }

          @include medium-small {
            font-size: 1.6rem;
          }
        }
      }
    }
  }

  .first {
    font-weight: bold;
    color: $red;
  }

  .last {
    font-weight: bold;
    color: $blue;
  }
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }
  .center {
    text-align: center;
  }

  .rank-up {
    color: $red;
    font-size: 120%;
  }

  .rank-down {
    color: $blue;
    font-size: 120%;
  }

  .rank-same {
    color: grey;
    font-size: 90%;
  }

  .no-word {
    color: lightgray;
  }
  .keywords-fixed-header {
    width: 15%;
    padding: 1rem 0.3rem;
    @include medium-small {
    }
  }
}

.ranking-table {
  word-break: keep-all;
  width: 90rem;
  @include medium-small {
    width: 80rem;
  }
  border-collapse: collapse;
  border-collapse: separate;
  border-spacing: 0px 0.7rem;
  margin: 0 auto;
  position: sticky;
  thead {
    tr {
      box-shadow: $box-shadow;
      background: $point-color;

      th {
        // border-bottom: 0.3px grey solid;
        color: white;
        height: 7rem;
        padding: 1rem;
        font-size: 1.9rem;
        margin-bottom: 100px;
      }
    }
  }

  tbody {
    tr {
      box-shadow: $box-shadow;

      background: white;
      transition: background-color 0.2s ease-in;
      &:hover {
        background: rgb(235, 235, 235);
      }

      td {
        font-size: 1.8rem;
        height: 8rem;
        padding: 1rem;

        @include medium {
          font-size: 1.5rem;
        }
      }
    }
  }

  .first {
    font-weight: bold;
    color: $red;
  }

  .last {
    font-weight: bold;
    color: $blue;
  }
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }
  .center {
    text-align: center;
  }

  .rank-up {
    color: $red;
    font-size: 120%;
  }

  .rank-down {
    color: $blue;
    font-size: 120%;
  }

  .rank-same {
    color: grey;
    font-size: 90%;
  }

  .no-word {
    color: lightgray;
  }

  .ranking-fixed-header {
    width: 15%;
    padding: 1rem 6rem;
  }

  .td-highlight {
    background: rgb(235, 235, 235);
  }
}

.keywords-table-container {
  display: block;
  overflow-x: auto;
  min-height: 300px;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;

  border-radius: 15px;
  position: relative;
}

.date-adj-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  // position: relative;
  flex-direction: row;
  @include small {
    flex-direction: column;

    height: 23rem;
  }
  // span {
  //   font-size: 2rem;
  //   margin-right: 20px;
  // }

  select {
    width: 7rem;
    height: 30px;
  }

  .calendar-wrapper {
    bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    .calendar {
      background: white;
      padding: 10px;
      max-width: 100%;
      transition: 0.4s ease-in-out;
      opacity: 0;
      border-radius: 30px;
      box-shadow: $box-shadow;
    }
  }
}

.mainboard-wrapper {
  margin: 1rem;
  display: flex;

  justify-content: center;
  flex-direction: column;

  @include large {
    flex-direction: column;
  }

  .mainboard-menu-container {
    margin: 0 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-bottom: 3rem;
    min-height: 20rem;

    @include small {
      flex-direction: column;
      min-height: 20rem;
    }

    ul {
      li {
        margin: 4.5rem 1rem;

        @include large {
          float: left;
        }
        @include medium-small {
          margin: 1rem 1rem;
        }
      }
    }
  }

  .mainboard-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include large {
      flex-direction: column;
    }
    margin: 1rem;
    ul li {
      float: left;
      margin: 2rem 3rem;
    }

    // canvas {
    //   width: 800px;
    //   height: 600px;
    //   margin: 0 0;
    //   @include medium {
    //     max-width: 100%;
    //     height: 800px;
    //   }
    // }
  }
}

.freeboard-form {
  .input-area {
    display: flex;
    flex-direction: column;

    .user-password {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .text-input-area {
      width: 100%;
      padding: 2rem;
      font-size: 2rem;
      cursor: text;
      border-radius: 15px;
      resize: none;
    }
  }

  .submit-btn-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .error-code {
      width: 100%;
    }

    .submit-btn {
      width: 100%;
    }
  }
}

.freeboard-post-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .post-container {
    background: white;
    box-shadow: $box-shadow;
    border-radius: 15px;
    font-size: 1.8rem;
    padding: 2.4rem 3rem;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    cursor: pointer;
    transition: 0.3s ease-in;
    &:hover {
      background: darken(white, 10%);
    }
    .upper-container {
      @include upper-container();

      .user-area {
        @include user-area();
      }

      .date-and-ip-area {
        @include date-and-ip-area();
      }
    }

    .lower-container {
      @include lower-container();

      .text-area {
        font-size: 2rem;
      }

      .comment-count {
        font-size: 1.5rem;
        min-width: 4rem;
        max-width: 4.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        i {
          color: $blue;
          font-size: 1.5rem;
        }
        margin-left: 1.3rem;
      }
    }
  }
}

.hot-post-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .post-container {
    background: white;
    width: 40%;
    box-shadow: $box-shadow;
    border-radius: 15px;
    font-size: 2rem;
    padding: 2.4rem 3rem;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    cursor: pointer;
    transition: 0.3s ease-in;
    &:hover {
      background: darken(white, 10%);
    }
    .upper-container {
      @include upper-container();

      .user-area {
        @include user-area();
        font-size: 1.5rem;

        i {
          font-size: 1.5rem;
          color: $red;
        }
      }

      .date-and-ip-area {
        @include date-and-ip-area();
      }
    }

    .lower-container {
      @include lower-container();

      .text-area {
        font-size: 1.8rem;
      }

      .comment-count {
        font-size: 1.5rem;
        min-width: 4rem;
        max-width: 4.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        i {
          color: $blue;
          font-size: 1.5rem;
        }
        margin-left: 1.2rem;
      }
    }
  }
}

.single-post-overlay {
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.5);
  .single-post-relative {
    position: relative;
    width: 100%;
    height: 100%;

    .single-post-wrapper {
      position: absolute;
      top: 15%;
      left: 50%;
      width: 80%;

      .single-post-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: white;
        box-shadow: $box-shadow;
        border-radius: 15px;
        font-size: 2rem;
        padding: 2.4rem 3rem;
        min-height: 350px;
        margin-bottom: 10rem;

        .post-container {
          display: flex;
          flex-direction: column;
          justify-content: left;
          align-items: left;

          .upper-container {
            @include upper-container();

            .user-area {
              @include user-area();
            }

            .date-and-ip-area {
              @include date-and-ip-area();
            }
          }

          .lower-container {
            @include lower-container();
            margin-bottom: 4rem;

            .text-area {
              font-size: 2.8rem;
              line-height: 4.5rem;
            }
          }
        }

        .comment-container {
          margin-bottom: 2rem;
          .comment-count {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            font-weight: bold;
            color: darken(lightgrey, 60%);
            border-bottom: 0.3px solid lightgray;
          }
          .no-comment {
            color: darken(lightgrey, 30%);
            font-size: 1.3rem;
          }
          .comment-area {
            font-size: 1.5rem;
            margin-bottom: 2.5rem;
            .upper-container {
              @include upper-container();
              margin-bottom: 0.5rem;

              .user-area {
                @include user-area();
                i {
                  font-size: 1.8rem;
                  color: $point-color;
                  margin-right: 1.3rem;
                }

                font-size: 2rem;
              }

              .date-and-ip-area {
                @include date-and-ip-area();
              }
            }

            .lower-container {
              @include lower-container();
              border-bottom: 0.3px solid lightgray;
              .text-area {
                font-size: 1.8rem;
              }
            }
          }
        }

        .input-form {
          @include input-form();
        }

        .new-post-form {
          @include input-form();
        }
      }
    }
  }
}

.writing-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.about-wrapper {
  word-break: keep-all;
  background: white;
  padding: 2rem 3rem;
  border-radius: 15px;
  line-height: 50px;
  box-shadow: $box-shadow;
  .about-title {
    font-size: 3rem;
    text-align: center;
    margin: 1rem;
    margin-bottom: 3rem;
    i {
      color: $point-color;
      font-size: 2.5rem;
      margin-right: 1.5rem;
    }
  }
  .about,
  .about i,
  .about p {
    font-size: 2rem;
  }
}

footer {
  // background: black;
  width: 100%;
  height: 90px;

  .footer-content {
    // width: 1200px;
    // margin: 0 auto;
    // box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: $big-font;
    color: white;
    font-size: 2rem;
  }
}

.chart-container {
  canvas {
    width: 900px !important;
    height: 500px !important;

    background-color: white;
    border-radius: 15px;
    box-shadow: $box-shadow;

    @include large {
      width: 660px !important;
      height: 600px !important;
    }

    @include medium {
      width: 85vw !important;
      height: 380px !important;
    }
  }
}

// functioning classes
.for-desktop {
  display: block;

  @include large {
    display: none;
  }
}
.for-mobile {
  display: none;

  @include large {
    display: block;
  }
}
.show {
  display: block;
}
.hide {
  display: none;
}
