@import url("https://fonts.googleapis.com/css?family=Jua|Noto+Sans+KR:400,700|Oswald");
body,
* {
  color: black;
  font-size: 10px;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1000px) {
  body,
  * {
    font-size: 9px;
  }
}

@media (max-width: 800px) {
  body,
  * {
    font-size: 7px;
  }
}

@media (max-width: 420px) {
  body,
  * {
    font-size: 6px;
  }
}

body {
  background: #f5f5f5;
}

body,
html {
  height: 100%;
}

ul {
  list-style: none;
}

.section-global {
  padding: 3rem;
  width: 1000px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1000px) {
  .section-global {
    width: 750px;
  }
}

@media (max-width: 800px) {
  .section-global {
    max-width: 800px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .section-global {
    max-width: 600px;
    width: 100%;
  }
}

@media (max-width: 420px) {
  .section-global {
    max-width: 420px;
    width: 100%;
    padding: 1rem 2.3rem;
  }
}

#bg {
  background-color: #4d6e9b;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 42%, 0 62%);
          clip-path: polygon(0 0, 100% 0, 100% 42%, 0 62%);
  background-size: cover;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

hr.section-seperator {
  width: 70%;
  margin: 0 auto;
  color: lightgrey;
}

input[type='text'],
input[type='password'],
textarea {
  border: none;
  border-bottom: 1.5px solid #fde6e6;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

input[type='text']:focus,
input[type='password']:focus,
textarea:focus {
  border-bottom: 1.5px solid #f78886;
}

.section-title-container {
  text-align: center;
}

.section-title-container .section-title {
  font-size: 5rem;
  font-family: "Jua", sans-serif;
  display: inline-block;
}

.section-title-container .section-title::before {
  content: '';
  display: inline-block;
  width: 0.5rem;
  height: 4.1rem;
  -webkit-transform: translate(-25%, 1%);
          transform: translate(-25%, 1%);
  background-color: #f78886;
}

.small-title {
  margin: 1.5rem;
  font-size: 5rem;
}

@media (max-width: 1000px) {
  .small-title {
    font-size: 4rem;
  }
}

@media (max-width: 800px) {
  .small-title {
    font-size: 3rem;
  }
}

.small-title::after {
  content: '';
  display: block;
  height: 0.3rem;
  background: #fab7b6;
  width: 100%;
}

.small-title .question-icon i {
  font-size: 2rem;
  color: grey;
  margin: 5px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .small-title .question-icon i {
    font-size: 1rem;
  }
}

.community-select-button {
  font-size: 2.5rem;
  cursor: pointer;
  font-weight: bold;
}

@media (max-width: 600px) {
  .community-select-button {
    font-size: 2rem;
  }
}

.community-select-button::before {
  content: '';
  display: inline-block;
  width: 0.3rem;
  height: 2.2rem;
  -webkit-transform: translate(-30%, 7%);
          transform: translate(-30%, 7%);
  background-color: #fde6e6;
}

.community-select-button:hover::before {
  background-color: #f78886;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.indicator-select-button {
  font-size: 1.8rem;
  cursor: pointer;
}

.indicator-select-button::after {
  content: '';
  display: block;
  width: 100%;
  height: 0.3rem;
  background-color: white;
}

.indicator-select-button:hover::after {
  background-color: #f78886;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.active-btn::before {
  background-color: #f78886;
}

.active-btn::after {
  background-color: #f78886;
}

.menu-btn {
  border-radius: 30px;
  padding: 1.3rem 2rem;
  cursor: pointer;
  background: white;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.menu-btn:hover {
  background: #ebebeb;
}

.indicator-btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.indicator-btn-wrapper .indicator-btn {
  border-radius: 30px;
  padding: 1.3rem 2rem;
  cursor: pointer;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.indicator-btn-wrapper .indicator-btn:hover {
  background: #ebebeb;
}

.indicator-btn-wrapper .indicator-btn .initial-display-wrapper .indicator-mark {
  font-size: 2rem;
  font-weight: bold;
  color: #f78886;
  margin: 0 0.7rem;
}

.indicator-btn-wrapper .indicator-btn .initial-display-wrapper .active-element {
  font-size: 2rem;
}

.indicator-btn-wrapper .except {
  position: fixed;
  top: 90%;
  left: 10%;
  z-index: 2;
  padding: 2rem 2rem;
  border-radius: 50%;
}

.indicator-btn-wrapper .selector-container {
  margin: 0 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  background: white;
}

.indicator-btn-wrapper .selector-container:hover {
  background: #d9d9d9;
}

.indicator-btn-wrapper .normal {
  border-radius: 30px;
  padding: 1rem 1.5rem;
}

@media (max-width: 420px) {
  .indicator-btn-wrapper .normal {
    padding: 1rem 1.3rem;
  }
}

.indicator-btn-wrapper .normal .normal-element {
  font-size: 1.8rem;
}

@media (max-width: 420px) {
  .indicator-btn-wrapper .normal .normal-element {
    font-size: 1.8rem;
  }
}

.indicator-btn-wrapper .circle {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.indicator-btn-wrapper .circle-element {
  font-size: 2rem;
}

.hover-description {
  background: #ffe9ed;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  opacity: 0;
  border-radius: 30px;
  padding: 1rem 1.7rem;
  font-size: 1.2rem;
}

.selection-fade-in {
  -webkit-animation: selection-fade-in 0.3s ease-in forwards;
          animation: selection-fade-in 0.3s ease-in forwards;
}

@-webkit-keyframes selection-fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-70%);
            transform: translateX(-70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes selection-fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-70%);
            transform: translateX(-70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.menu-fade-in {
  -webkit-animation: menu-fade-in 0.3s ease-in forwards;
          animation: menu-fade-in 0.3s ease-in forwards;
}

@-webkit-keyframes menu-fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(40%);
            transform: translateX(40%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes menu-fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(40%);
            transform: translateX(40%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.opacity-fade-in {
  -webkit-animation: opacity-fade-in 0.3s ease-in forwards;
          animation: opacity-fade-in 0.3s ease-in forwards;
}

@-webkit-keyframes opacity-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.opacity-fade-out {
  -webkit-animation: opacity-fade-out 0.3s ease-in forwards;
          animation: opacity-fade-out 0.3s ease-in forwards;
}

@-webkit-keyframes opacity-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes opacity-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.btn-fade-out {
  animation: btn-fade-out 0.3s ease-in alternate-reverse;
}

@-webkit-keyframes btn-fade-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(80%);
            transform: translateX(80%);
  }
}

@keyframes btn-fade-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(80%);
            transform: translateX(80%);
  }
}

.error-animation {
  -webkit-animation: error-animation 0.1s alternate;
          animation: error-animation 0.1s alternate;
  -webkit-animation-iteration-count: 6;
          animation-iteration-count: 6;
}

@-webkit-keyframes error-animation {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(3%);
            transform: translateX(3%);
  }
}

@keyframes error-animation {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(3%);
            transform: translateX(3%);
  }
}

@-webkit-keyframes refresh-rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes refresh-rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.status-very-good {
  color: #4386f9;
}

.status-good {
  color: #4ba4c2;
}

.status-okay {
  color: #03c03c;
}

.status-bad {
  color: #f6ac5b;
}

.status-very-bad {
  color: #f75467;
}

.status-number {
  color: gray;
}

.site-title {
  font-size: 10rem;
  font-family: "Jua", sans-serif;
  text-align: center;
  color: white;
}

.main-nav-wrapper {
  width: 100%;
}

.main-nav-wrapper .main-nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media (max-width: 600px) {
  .main-nav-wrapper .main-nav-container {
    padding-top: 3rem;
    padding-bottom: 5rem;
  }
}

.main-nav-wrapper a {
  text-decoration: none;
}

.main-nav-wrapper .nav-title {
  font-family: "Jua", sans-serif;
  color: white;
  font-size: 3.5rem;
}

.main-nav-wrapper .menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .main-nav-wrapper .menu-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.main-nav-wrapper .menu-wrapper .nav-menu-container {
  font-size: 1.6rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 7rem;
}

@media (max-width: 600px) {
  .main-nav-wrapper .menu-wrapper .nav-menu-container {
    position: absolute;
    top: 7rem;
    right: 1.1rem;
  }
}

.main-nav-wrapper .menu-wrapper .nav-menu-container .menu-btn {
  font-size: 1.6rem;
  margin: 0 1rem;
  font-weight: bold;
  min-width: 10rem;
  text-align: center;
}

.main-nav-wrapper .menu-wrapper .menu-toggler-container .menu-toggler {
  color: white;
  cursor: pointer;
  margin-left: 2rem;
  margin-right: 0;
}

.hero-wrapper {
  background: url("img/mainimage.jpg") no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40rem;
}

.hero-wrapper .hero-container {
  text-align: center;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero-wrapper .hero-container .title {
  font-family: "Jua", sans-serif;
  font-size: 10rem;
}

@media (max-width: 420px) {
  .hero-wrapper .hero-container .title {
    font-size: 8rem;
  }
}

.hero-wrapper .hero-container .description {
  font-size: 2rem;
}

.hero-wrapper .hero-container .small-description i {
  font-size: 1.6rem;
}

.hero-wrapper .hero-container sup {
  font-size: 1.6rem;
}

.indicator-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 1000px) {
  .indicator-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.indicator-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.indicator-container a .indicator-card {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: white;
  border-radius: 15px;
  width: 100%;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  display: inline-block;
  padding: 2.5rem;
  margin: 1rem;
  text-align: center;
}

.indicator-container a .indicator-card:hover {
  background: #e6e6e6;
}

@media (max-width: 1000px) {
  .indicator-container a .indicator-card {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 3rem 3rem;
    margin: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.indicator-container a .indicator-card .indicator-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.indicator-container a .indicator-card .indicator-title-container .emotion {
  font-size: 4.5rem;
  margin-right: 2rem;
}

@media (max-width: 1000px) {
  .indicator-container a .indicator-card .indicator-title-container .emotion {
    margin-right: 3rem;
  }
}

.indicator-container a .indicator-card .indicator-title-container div {
  text-align: left;
}

.indicator-container a .indicator-card .indicator-title-container div .indicator-title {
  font-size: 3rem;
  text-align: left;
  font-weight: bold;
}

.indicator-container a .indicator-card .indicator-title-container div .active-community {
  color: #a0a0a0;
  font-size: 1.7rem;
}

.indicator-container a .indicator-card .fa-font {
  color: #f78886;
}

.indicator-container a .indicator-card .indicator-content {
  font-family: "Jua", sans-serif;
}

.indicator-container a .indicator-card .indicator-content .value {
  font-size: 5rem;
  font-weight: bold;
}

.indicator-container a .indicator-card .indicator-content .metric {
  font-size: 1.7rem;
}

.indicator-container a .indicator-card .indicator-content .status {
  font-size: 2rem;
  text-align: right;
}

.ranking-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 300px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: white;
  border-radius: 15px;
}

.ranking-container:hover .small-title::after {
  background: #d6120e;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.ranking-container .ranking-table {
  width: 90%;
  border-collapse: collapse;
}

.ranking-container .ranking-table thead th {
  border-bottom: 0.3px grey solid;
  padding: 1rem;
  font-size: 1.9rem;
  margin-bottom: 100px;
}

.ranking-container .ranking-table tbody tr:hover {
  background: rgba(182, 182, 182, 0.329);
}

.ranking-container .ranking-table tbody tr td {
  font-size: 1.8rem;
  height: 8rem;
  padding: 1rem;
}

.ranking-container .ranking-table .first {
  font-weight: bold;
  color: #f75467;
}

.ranking-container .ranking-table .last {
  font-weight: bold;
  color: #4386f9;
}

.ranking-container .ranking-table .left {
  text-align: left;
}

.ranking-container .ranking-table .right {
  text-align: right;
}

.ranking-container .ranking-table .center {
  text-align: center;
}

.ranking-container .ranking-table .rank-up {
  color: #f75467;
  font-size: 120%;
}

.ranking-container .ranking-table .rank-down {
  color: #4386f9;
  font-size: 120%;
}

.ranking-container .ranking-table .rank-same {
  color: grey;
  font-size: 90%;
}

.date-adj-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 420px) {
  .date-adj-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 23rem;
  }
}

.date-adj-container select {
  width: 7rem;
  height: 30px;
}

.date-adj-container .calendar-wrapper {
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
}

.date-adj-container .calendar-wrapper .calendar {
  background: white;
  padding: 10px;
  max-width: 100%;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  opacity: 0;
  border-radius: 30px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.mainboard-wrapper {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1000px) {
  .mainboard-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.mainboard-wrapper .mainboard-menu-container {
  margin: 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3rem;
  min-height: 20rem;
}

@media (max-width: 420px) {
  .mainboard-wrapper .mainboard-menu-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 20rem;
  }
}

.mainboard-wrapper .mainboard-menu-container ul li {
  margin: 4.5rem 1rem;
}

@media (max-width: 1000px) {
  .mainboard-wrapper .mainboard-menu-container ul li {
    float: left;
  }
}

@media (max-width: 600px) {
  .mainboard-wrapper .mainboard-menu-container ul li {
    margin: 1rem 1rem;
  }
}

.mainboard-wrapper .mainboard-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem;
}

@media (max-width: 1000px) {
  .mainboard-wrapper .mainboard-content-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.mainboard-wrapper .mainboard-content-container ul li {
  float: left;
  margin: 2rem 3rem;
}

.freeboard-form .input-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.freeboard-form .input-area .user-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.freeboard-form .input-area .text-input-area {
  width: 100%;
  padding: 2rem;
  font-size: 2rem;
  cursor: text;
  border-radius: 15px;
  resize: none;
}

.freeboard-form .submit-btn-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.freeboard-form .submit-btn-area .error-code {
  width: 100%;
}

.freeboard-form .submit-btn-area .submit-btn {
  width: 100%;
}

.freeboard-post-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.freeboard-post-wrapper .post-container {
  background: white;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 15px;
  font-size: 1.8rem;
  padding: 2.4rem 3rem;
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.freeboard-post-wrapper .post-container:hover {
  background: #e6e6e6;
}

.freeboard-post-wrapper .post-container .upper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  margin-bottom: 1.5rem;
}

.freeboard-post-wrapper .post-container .upper-container .user-area {
  font-size: 2rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.freeboard-post-wrapper .post-container .upper-container .user-area i {
  font-size: 2rem;
  margin-right: 1rem;
  color: #f78886;
}

.freeboard-post-wrapper .post-container .upper-container .user-area .user-admin {
  margin-left: 1rem;
  background: #f78886;
  padding: 0.3rem 1rem;
  color: white;
  border-radius: 10px;
}

.freeboard-post-wrapper .post-container .upper-container .date-and-ip-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.freeboard-post-wrapper .post-container .upper-container .date-and-ip-area .post-date {
  font-size: 1.4rem;
  text-align: right;
}

.freeboard-post-wrapper .post-container .upper-container .date-and-ip-area .user-ip {
  font-size: 1.2rem;
  color: gray;
  text-align: right;
}

.freeboard-post-wrapper .post-container .lower-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5rem;
}

.freeboard-post-wrapper .post-container .lower-container .text-area {
  font-size: 2rem;
}

.freeboard-post-wrapper .post-container .lower-container .comment-count {
  font-size: 1.5rem;
  min-width: 4rem;
  max-width: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.3rem;
}

.freeboard-post-wrapper .post-container .lower-container .comment-count i {
  color: #4386f9;
  font-size: 1.5rem;
}

.hot-post-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hot-post-wrapper .post-container {
  background: white;
  width: 40%;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 15px;
  font-size: 2rem;
  padding: 2.4rem 3rem;
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.hot-post-wrapper .post-container:hover {
  background: #e6e6e6;
}

.hot-post-wrapper .post-container .upper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  margin-bottom: 1.5rem;
}

.hot-post-wrapper .post-container .upper-container .user-area {
  font-size: 2rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

.hot-post-wrapper .post-container .upper-container .user-area i {
  font-size: 2rem;
  margin-right: 1rem;
  color: #f78886;
}

.hot-post-wrapper .post-container .upper-container .user-area .user-admin {
  margin-left: 1rem;
  background: #f78886;
  padding: 0.3rem 1rem;
  color: white;
  border-radius: 10px;
}

.hot-post-wrapper .post-container .upper-container .user-area i {
  font-size: 1.5rem;
  color: #f75467;
}

.hot-post-wrapper .post-container .upper-container .date-and-ip-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hot-post-wrapper .post-container .upper-container .date-and-ip-area .post-date {
  font-size: 1.4rem;
  text-align: right;
}

.hot-post-wrapper .post-container .upper-container .date-and-ip-area .user-ip {
  font-size: 1.2rem;
  color: gray;
  text-align: right;
}

.hot-post-wrapper .post-container .lower-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5rem;
}

.hot-post-wrapper .post-container .lower-container .text-area {
  font-size: 1.8rem;
}

.hot-post-wrapper .post-container .lower-container .comment-count {
  font-size: 1.5rem;
  min-width: 4rem;
  max-width: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.2rem;
}

.hot-post-wrapper .post-container .lower-container .comment-count i {
  color: #4386f9;
  font-size: 1.5rem;
}

.single-post-overlay {
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.5);
}

.single-post-overlay .single-post-relative {
  position: relative;
  width: 100%;
  height: 100%;
}

.single-post-overlay .single-post-relative .single-post-wrapper {
  position: absolute;
  top: 15%;
  left: 50%;
  width: 80%;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: white;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 15px;
  font-size: 2rem;
  padding: 2.4rem 3rem;
  min-height: 350px;
  margin-bottom: 10rem;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .post-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .post-container .upper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  margin-bottom: 1.5rem;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .post-container .upper-container .user-area {
  font-size: 2rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .post-container .upper-container .user-area i {
  font-size: 2rem;
  margin-right: 1rem;
  color: #f78886;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .post-container .upper-container .user-area .user-admin {
  margin-left: 1rem;
  background: #f78886;
  padding: 0.3rem 1rem;
  color: white;
  border-radius: 10px;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .post-container .upper-container .date-and-ip-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .post-container .upper-container .date-and-ip-area .post-date {
  font-size: 1.4rem;
  text-align: right;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .post-container .upper-container .date-and-ip-area .user-ip {
  font-size: 1.2rem;
  color: gray;
  text-align: right;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .post-container .lower-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5rem;
  margin-bottom: 4rem;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .post-container .lower-container .text-area {
  font-size: 2.8rem;
  line-height: 4.5rem;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .comment-container {
  margin-bottom: 2rem;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .comment-container .comment-count {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #3a3a3a;
  border-bottom: 0.3px solid lightgray;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .comment-container .no-comment {
  color: #878787;
  font-size: 1.3rem;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .comment-container .comment-area {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .comment-container .comment-area .upper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  margin-bottom: 1.5rem;
  margin-bottom: 0.5rem;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .comment-container .comment-area .upper-container .user-area {
  font-size: 2rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .comment-container .comment-area .upper-container .user-area i {
  font-size: 2rem;
  margin-right: 1rem;
  color: #f78886;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .comment-container .comment-area .upper-container .user-area .user-admin {
  margin-left: 1rem;
  background: #f78886;
  padding: 0.3rem 1rem;
  color: white;
  border-radius: 10px;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .comment-container .comment-area .upper-container .user-area i {
  font-size: 1.8rem;
  color: #f78886;
  margin-right: 1.3rem;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .comment-container .comment-area .upper-container .date-and-ip-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .comment-container .comment-area .upper-container .date-and-ip-area .post-date {
  font-size: 1.4rem;
  text-align: right;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .comment-container .comment-area .upper-container .date-and-ip-area .user-ip {
  font-size: 1.2rem;
  color: gray;
  text-align: right;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .comment-container .comment-area .lower-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5rem;
  border-bottom: 0.3px solid lightgray;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .comment-container .comment-area .lower-container .text-area {
  font-size: 1.8rem;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .input-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0rem;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .input-form .user-and-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 2rem;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .input-form .user-and-password input {
  padding: 1rem 0rem;
  font-size: 1.8rem;
  width: 30rem;
  margin-right: 4rem;
}

@media (max-width: 600px) {
  .single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .input-form .user-and-password {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2rem;
  }
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .input-form .text-input-area textarea {
  width: 100%;
  padding: 1rem 0rem;
  font-size: 2rem;
  cursor: text;
  resize: none;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .input-form .submit-btn-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .input-form .submit-btn-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 15rem;
  }
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .input-form .submit-btn-area .error-code-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .input-form .submit-btn-area .error-code-container .error-code {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .input-form .submit-btn-area .submit-btn {
  width: 40%;
  background: white;
  color: black;
  padding: 3rem;
  height: 3rem;
  border: none;
  border-radius: 15px;
  border: 0.2px solid #f78886;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .input-form .submit-btn-area .submit-btn:hover {
  background: #f78886;
  color: white;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .new-post-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0rem;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .new-post-form .user-and-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 2rem;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .new-post-form .user-and-password input {
  padding: 1rem 0rem;
  font-size: 1.8rem;
  width: 30rem;
  margin-right: 4rem;
}

@media (max-width: 600px) {
  .single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .new-post-form .user-and-password {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2rem;
  }
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .new-post-form .text-input-area textarea {
  width: 100%;
  padding: 1rem 0rem;
  font-size: 2rem;
  cursor: text;
  resize: none;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .new-post-form .submit-btn-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .new-post-form .submit-btn-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 15rem;
  }
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .new-post-form .submit-btn-area .error-code-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .new-post-form .submit-btn-area .error-code-container .error-code {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .new-post-form .submit-btn-area .submit-btn {
  width: 40%;
  background: white;
  color: black;
  padding: 3rem;
  height: 3rem;
  border: none;
  border-radius: 15px;
  border: 0.2px solid #f78886;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.single-post-overlay .single-post-relative .single-post-wrapper .single-post-container .new-post-form .submit-btn-area .submit-btn:hover {
  background: #f78886;
  color: white;
}

.writing-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer {
  width: 100%;
  height: 90px;
}

footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Jua", sans-serif;
  color: white;
  font-size: 2rem;
}

.chart-container canvas {
  width: 900px !important;
  height: 500px !important;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@media (max-width: 1000px) {
  .chart-container canvas {
    width: 660px !important;
    height: 600px !important;
  }
}

@media (max-width: 800px) {
  .chart-container canvas {
    width: 85vw !important;
    height: 380px !important;
  }
}

.for-desktop {
  display: block;
}

@media (max-width: 600px) {
  .for-desktop {
    display: none;
  }
}

.for-mobile {
  display: none;
}

@media (max-width: 600px) {
  .for-mobile {
    display: block;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}
/*# sourceMappingURL=style.css.map */